.boite_acceuil{

  position: relative;
  text-align: center;
  background-color: white;
  opacity: 0.6;

}


body{
  background-image: url("images/jungle.jpg");
  opacity: 0.5;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container*/
}
.l_elite{

  position:relative;
  text-align: center;
  background-color: white;

}
#rang1{
  font-style: italic;
  font-family: fantasy;
}