.header{
  align-items: center;
  background: linear-gradient(to bottom right, blue, white);
  border: 5px solid black;
}

#titre_header{
  text-align: center;
  font-family: fantasy;

}

.boite{
  display:inline-block;
  align-items: center;
}

#mapid{
  position: relative;
  height: 500px;
  width: 1100px;
  height: 90vh;
  width: 90vw;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  margin-bottom: 50px;

}

.trapezoid {
  position: absolute;
  margin: 0 auto;
  bottom: 10px;
	border-bottom: 60px solid #8c9342;
  border-left: 30px solid transparent;
 	border-right: 30px solid transparent;
  height: 0;
	width: 600px;
  z-index: 500;
  left: 50%;
  transform: translateX(-50%);
}

.objectifPanel {
  z-index: 500;
  position: absolute;
  top: 15px;
  border: 10px;
  border-radius: 25px;
  background: #73AD21;
  background-position: left top;
  background-repeat: repeat;
  padding: 0.5cm 0.5cm 0.9cm 0.5cm;
  width: 400px;
  height: 50px;;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(0, 102, 0, 0.7);
}


.inventory_image{
  position: absolute;
}


.inventory_slot {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 5px;
  margin-left: 2px;
  margin-right: 3px;
  background-color: #336600;

}

/* The Modal (background) */
.backgroundBlocker {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 500; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
  text-align: center;
 background-color: #fefefe;
 margin: 15% auto; /* 15% from the top and centered */
 padding: 20px;
 border: 1px solid #888;
 width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}

#objmercure{
  z-index: 501;
}

.timer{
  text-align: center;
  margin: auto;
  margin-bottom: 0px;
}

.endGame{
  font-size: 64;
  font-family: serif;
}
